 <!-- FORGOT PASSWORD BOX -->

    <div class="col-md-7 m-auto login_box">
        <div class="d-flex justify-content-center login_logo">
            <img src="assets/images/temp_img/login.png" class="img-fluid">
        </div>
        <h3 class="dark fs-22 fw-600 mb-2">Forgot password</h3>
        <h4 class="fs-16 fw-500 info mb_40 login_subtitle">Get access to your password by verifying your identity
            through otp with the help of your email address</h4>
        <div class="position-relative mb_40">
            <i class="fi fi-rr-envelope input_icons"></i>
            <input type="email" class="form-control profile_input" placeholder="Enter Email">
        </div>
        <!-- </h4> -->
        <button class="btn btn_primary fs-15 fw-600 w-100 m-0 right_menu_toggle"
            onclick="btn2_controller()">Send OTP</button>
    </div>