<div class="sidebar bg_primary">
    <div class="logo">
        <img src="assets/images/temp_img/logo.png">
    </div>
    <div class="sidebar_navbar">

        <!-- Getting Started Accordian -->
        <div class="accordion" id="accordionExample">

            <!-- Dashboard -->
            <div class="accordion-item selectSection">
                <h2 class="accordion-header">
                    <button class="accordion-button mb-0" data-number="1" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne" (click)="getTitleName(constants.DASHBOARD)" routerLink="{{componentRoutes.DASHBOARD}}">
                        <img src="assets/images/svg_img/dashboard.svg" class="accordian_svg" >Dashboard
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample">

                </div>
            </div>

            <!-- Users -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed mb-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
                        <img src="assets/images/svg_img/user-2.svg" class="accordian_svg">Users
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="selectSection select_option">
                            <button type="button" data-number="2" (click)="getTitleName(constants.USERS)" routerLink="{{componentRoutes.USER_LIST_BASE}}">Users List</button>
                            <button type="button" data-number="3" (click)="getTitleName(constants.USERS)" routerLink="{{componentRoutes.USER_TRANSACTION_BASE}}">Transaction</button>
                            <button type="button" data-number="4" (click)="getTitleName(constants.USERS)" routerLink="{{componentRoutes.USER_ADDRESS_BASE}}">Address</button>
                            <button type="button" data-number="5" (click)="getTitleName(constants.USERS)" routerLink="{{componentRoutes.USER_ANALYTICS_BASE}}">Analytics</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Verification Officer -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed mb-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" >
                        <img src="assets/images/svg_img/varification-2.svg" class="accordian_svg" >Verification
                        Officer
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="selectSection select_option">
                            <button type="button" data-number="6" (click)="getTitleName(constants.VERIFICATION_OFFICER)" routerLink="{{componentRoutes.VERI_OFFI_ADDRESS_VERIFICATION_REQ_BASE}}">Address Verifications</button>
                            <button type="button" data-number="7"  (click)="getTitleName(constants.VERIFICATION_OFFICER)" routerLink="{{componentRoutes.VERIFICATION_OFFICER_LIST_BASE}}">Verification Officer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Verification Portal -->
            <div class="accordion-item selectSection">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed mb-0" data-number="8" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour" (click)="getTitleName(constants.VERIFICATION_PORTAL)" routerLink="{{componentRoutes.VERIFICATION_PORTAL}}">
                        <img src="assets/images/svg_img/v-portal.svg" class="accordian_svg">Verification Portal
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">

                </div>
            </div>

            <!-- Emergency -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed mb-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" >
                        <img src="assets/images/svg_img/Emergency.svg" class="accordian_svg">Emergency
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="selectSection select_option">
                            <button type="button" data-number="9" (click)="getTitleName(constants.EMERGENCY)" routerLink="{{componentRoutes.EMERGENCY_REQUESTS_BASE}}">Emergency Requested</button>
                            <button type="button" data-number="10" (click)="getTitleName(constants.EMERGENCY)" routerLink="{{componentRoutes.LIST_OF_EMERGENCY_OPERATORS_BASE}}">List of Operators</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- API Documentations -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed mb-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" >
                        <img src="assets/images/svg_img/api.svg" class="accordian_svg">API Documentations
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="selectSection select_option">
                            <button type="button" data-number="11" (click)="getTitleName(constants.API_DOCUMENTATION)" routerLink="{{componentRoutes.API_DOC_USERS_BASE}}">Users</button>
                            <button type="button" data-number="12" (click)="getTitleName(constants.API_DOCUMENTATION)" routerLink="{{componentRoutes.API_DOC_PARTNERS_BASE}}">Partners</button>
                            <button type="button" data-number="13" (click)="getTitleName(constants.API_DOCUMENTATION)" routerLink="{{componentRoutes.API_DOC_PLANS_BASE}}">Plans</button>
                            <button type="button" data-number="14" (click)="getTitleName(constants.API_DOCUMENTATION)" routerLink="{{componentRoutes.API_DOC_ANALYTICS_BASE}}">Analytics</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>