

<div class="dashboard_content p-0">
    <div class="Officer_table">
        <div class="user_heading">
            <h4 class="fs-20 fw-600 dark mb-0">Users</h4>
            <div class="d-flex align-items-center  gap_30">
                <div class="position-relative">
                    <h3 class="fs-14 fw-500 theading mb-0">Active User</h3>
                    <span class="user_circle"></span>
                </div>
                <div class="position-relative">
                    <h3 class="fs-14 fw-500 grey3 mb-0">Inactive Users</h3>
                    <span class="user_circle2"></span>
                </div>
                <!-- tabs -->
                <div class="user_tabs">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active info" id="pills-Week-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Week"
                                type="button" role="tab" aria-controls="pills-Week"
                                aria-selected="true">Week</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link info" id="pills-Month-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Month"
                                type="button" role="tab" aria-controls="pills-Month"
                                aria-selected="false">Month</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link info" id="pills-Year-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-Year"
                                type="button" role="tab" aria-controls="pills-Year"
                                aria-selected="false">Year</button>
                        </li>
                    </ul>
                    <!-- <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-Week" role="tabpanel" aria-labelledby="pills-Week-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="pills-Month" role="tabpanel" aria-labelledby="pills-Month-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="pills-Year" role="tabpanel" aria-labelledby="pills-Year-tab" tabindex="0">...</div>
                        </div> -->
                </div>
            </div>
        </div>

        <img src="assets/images/temp_img/user-graph.png" class="w-100">

    </div>
</div>