
    <div class="col-md-7 m-auto login_box">
        <div class="d-flex justify-content-center login_logo">
            <img src="assets/images/temp_img/login.png" class="img-fluid">
        </div>
        <div class="mb_40">
            <h1 class="fs-22 fw-600 text_small mb_10" id="exampleModalToggleLabel2">New password</h1>
            <h3 class="fs-16 fw-500 info mb-0 login_subtitle">Set a new login password for your account</h3>
        </div>
        <div class="mb_40">
            <div class="position-relative mb_20">
                <i class="fi fi-rr-lock input_icons"></i>
                <input type="text" class="form-control profile_input px_44" placeholder="New Password">
                <i class="fi fi-rr-eye eye_icon info"></i>
            </div>
            <div class="position-relative">
                <i class="fi fi-rr-lock input_icons"></i>
                <input type="text" class="form-control profile_input px_44"
                    placeholder="Confirm Password">
                <i class="fi fi-rr-eye-crossed eye_icon info"></i>
            </div>
        </div>

        <button class="btn btn_primary fs-15 fw-600 w-100 m-0 right_menu_toggle"
            onclick="btn4_controller()">Set Password</button>
    </div>