<div class="dashboard_content content p-0 " data-number="4" style="display: block;">
    <app-common-data-table [columnConfig]="apiUrlCol" [tableConfig]="tableConfig" [dataSource]="data"></app-common-data-table>
</div>


<!-- <div class="dashboard_content  p-0 dashboard_addcards" data-number="4"
                                    style="display: block;">
                                    <div class="Officer_table">
                                        <div>
                                            <h4 class="fs-18 fw-600 dark mb-0">API</h4>
                                        </div>
                                    </div>
                                    <div class="api_scroll">
                                        <table class="table mb-0 admin-table" id="dtHorizontalExample"
                                            cellspacing="0" width="100%">
                                            <thead>
                                                <tr class="table_heading">
                                                    <th scope="col" class="fs-14 fw-500 theading">API URL</th>
                                                    <th scope="col" class="fs-14 fw-500 theading">Total no of Hits
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg_light">
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="#"
                                                            class="theading fs-14 fw-600">https://api.aig.com</a>
                                                    </td>
                                                    <td class="fs-14 fw-500 info">10</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div> -->