<div class="dashboard_content p-0" data-number="4" style="display: block;">
    <div class="Officer_table">
        <div class="mb_20">
            <h4 class="fs-18 fw-600 dark mb-0">Address Management </h4>
        </div>
        <div>
            <div class="d-flex justify-content-between mb-3 add_cards">
                <div class="add_management_text">
                    <h3>Verified Verification Address</h3>
                    <h4 class="theading">635</h4>
                </div>
                <!-- graph -->
                <img src="assets/images/temp_img/g-1.png">
            </div>
            <div class="d-flex justify-content-between mb-3 add_cards">
                <div class="add_management_text">
                    <h3>Pending Verification Address</h3>
                    <h4 class="pending_add">635</h4>
                </div>
                <!-- graph -->
                <img src="assets/images/temp_img/g-2.png">
            </div>
            <div class="d-flex justify-content-between mb-3 add_cards">
                <div class="add_management_text">
                    <h3>Reject Verification Address</h3>
                    <h4 class="reject_add ">635</h4>
                </div>
                <!-- graph -->
                <img src="assets/images/temp_img/g-3.png">
            </div>
        </div>
    </div>

</div>