<div class="dashboard_content content p-0 " data-number="4" style="display: block;">
    <app-common-data-table [columnConfig]="officerCol" [tableConfig]="tableConfig" [dataSource]="data" ></app-common-data-table>
</div>

<!-- <div class="dashboard_content content p-0 " data-number="4" style="display: block;">
    <div class="Officer_table">
        <div>
            <h4 class="fs-18 fw-600 dark mb-0">Top Verification Officer</h4>
        </div>
    </div>
    <div class="top_officer_scroll">
        <table class="table mb-0 admin-table" id="dtHorizontalExample" cellspacing="0"
            width="100%">
            <thead>
                <tr class="table_heading">
                    <th scope="col" class="fs-14 fw-500 theading">Verification Officer</th>
                    <th scope="col" class="fs-14 fw-500 theading">AIG Code</th>
                </tr>
            </thead>
            <tbody class="bg_light">
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>

                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="assets/images/temp_img/user-icon.png"
                                class="address_icon">
                            <div class="mx_12 varification_officer">
                                <h5 class="fs-14 fw-500 black mb-1">Olivia Rhye</h5>
                                <a href="user-details.html"
                                    class="fs-10 fw-600 theading mb-0 view_profile_line position-relative">
                                    View Profile</a>
                            </div>
                        </div>
                    </td>
                    <td class="fs-14 fw-500 info">RASHMI123</td>
                </tr>
            </tbody>
        </table>

    </div>
</div> -->