<div class="dashboard_content mb-4 p-0">
    <div class="Officer_table">
        <div class="d-flex justify-content-between">
            <h3 class="dark fs-18 fw-600 mb-0">Verification Requests</h3>
            <select id="year" name="year"
                class="attendance_dropdown1 border-0 fs-14 fw-700 theading ">
                <option>Monthly</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>

            </select>
        </div>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
</div>