

    <div class="col-md-7 m-auto login_box">
        <div class="d-flex justify-content-center login_logo">
            <img src="assets/images/temp_img/login.png" class="img-fluid">
        </div>
        <div class="mb_40">
            <h1 class="fs-22 fw-600 text_small mb_10" id="exampleModalToggleLabel2">Verify OTP </h1>
            <h3 class="fs-16 fw-500 info mb-1 login_subtitle">Enter the verification code sent on </h3>
            <div class="d-flex align-items-center">
                <h3 class="mb-0 fs-15 fw-500 text_small">aig@gmail.com</h3>
                <h5 class="mb-0 fs-13 fw-500 primary mx-0 ms-2">Edit <img
                        src="assets/images/svg_img/edit.svg"></h5>
            </div>
        </div>
        <div class="p-0 mb_40">
            <div class="d-flex gap_16">

                <input type="text" class="otp_number_input" placeholder="5">
                <input type="text" class="otp_number_input" placeholder="5">
                <input type="text" class="otp_number_input" placeholder="5">
                <input type="text" class="otp_number_input" placeholder="5">

            </div>
        </div>
        <button class="btn btn_primary fs-15 fw-600 w-100 m-0 right_menu_toggle"
            onclick="btn3_controller()">Verify</button>
    </div>